/**
 * ▶ globals 스타일
 *
 * 공통 CSS 스타일
 * - 브라우저 기본 스타일 초기화
 * - 기본 폰트, 크기, 색상 설정
 * - 헤더, 푸터, 사이드바 기본 스타일
 * - 링크 및 버튼 스타일 설정
 * - 반응형 디자인
 */
@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'EarlyFontDiary', sans-serif !important; /* 전체 폰트 변경 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ▶ 메인 : 달력 컴포넌트 */
.rbc-today{
    background-color: #FEFEE3 !important;
}

div.rbc-event{
    background-color: transparent !important;
}

.rbc-event-content{
    text-align: center !important;
}

.rbc-off-range-bg{
    background-color: #F5F3F5 !important;
}

.rbc-month-header{
    background-color: #4C956C !important;
    color: white;
    height: 30px;
    line-height: 30px;
}

.css-95qofs{
    box-shadow: none !important;
}


/* ▶ 서브 : 일기 컴포넌트 */
.react-datepicker {
    border: 2px solid #e2e8f0 !important;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}
.react-datepicker__header {
    background-color: #D6E7DB !important;
}

.react-datepicker__month-container{
    float: none;
}
.custom-calendar {
    border: 1px solid #d6e7db !important;
    border-radius: 10px !important;
    padding: 10px !important;
    background-color: #fff !important;
}

.react-calendar {
    width: 100% !important;
    max-width: 300px !important;
    margin: 0 auto !important;
}

.react-calendar__tile {
    padding: 10px !important;
    border-radius: 5px!important; 
}
.react-datepicker__day--selected{
    background-color: #4C956C !important;
    color: white !important;
}
.react-calendar__tile--active {
    background-color: #4C956C !important;
    color: white !important;
}

.react-calendar__tile--hover {
    background-color: #D6E7DB !important;
}